FABRIC_SQL_SERVER=3vpfo4qtrw7udcx5oixogfixm4-fb2tonpeguzevktvw6n7fm44km.datawarehouse.fabric.microsoft.com
FABRIC_DATABASE=agentic_lake

AZURE_OPENAI_ENDPOINT=https://foundryv2-project-rsc-033126.services.ai.azure.com
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_API_VERSION=2024-10-21

MAX_ROWS=200
SCHEMA_CACHE_PATH=app/schema.txt